<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/styles/main.css">
    <script src="test.js"></script>
    <title>Document</title>
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <nav>
            <h3 class="mb-0">Simple Weather-App</h3>
          </nav>
        </header>
      
        <main id="main" class="px-3">
          

          <!-- <h3>Enter your location</h3>
          <hr>
          <input id="city" type="text"> 
          <a href="#" class="btn-sm btn-secondary font-weight-bold border-white bg-white">Go!</a> -->

          <div class="container text-left">
            <div class="d-flex row">
              <div class="col-5">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="">
              </div>
              <div class="d-flex flex-column col-7 text-right">
                <h3 class="text-left">Albuqueruqe, US <br> Sunny</h3>
                <div class="d-flex">
                  <h1>350</h1>
                  <a href="" class="btn-sm btn-secondary font-weight-bold border-white bg-white units">C°</a> <p>|</p> <a href="" class="btn-sm btn-secondary font-weight-bold border-white bg-white units">F°</a>
                </div>
                    <p>Wind = 25Km/h</p> 
                    <p>Humidity = 28</p>
                </div>
              </div>
          </div>
          <hr>
          <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Search Again</a>
        </main>
      
        <footer class="mt-auto text-white-50">
          <p>Created by <a href="https://github.com/MarioDena" class="text-white">Mario Dena</a></p>
        </footer>
      </div>
</div>


</body>
</html>